.boddy{
    padding-top: 89px;
    max-width: 1500px;
}

.container2{
    border: 1px solid #000000;
    height: 690px;
    width: 1850px;
    position: relative;
    left: 10px;
    text-align: center;
    justify-content: center;
    display: flex;        
    flex-wrap: wrap;          
    justify-content: flex-start;

    .logo{
            position: relative;
            width: 125px;
            height: 125px;
            top: 120px;
            left: 40px;
            margin-left: 10px;
            margin-right: 20px;
            max-width: 100%; 
            box-sizing: content-box;
    }

    .vacio{
        color: grey;
        position: relative;
        left: -130px;
        top: 100px;
    }
}

.Total{
    position: absolute;
    top: 525px;
    left: 1400px;
    text-align: right;
    justify-content: right;
}

.img{
    position: relative;
    width: 125px;
    height: 125px;
    left: 25px;
    margin-left: 10px;
    margin-right: 20px;
    max-width: 100%; 
    box-sizing: content-box;
}