@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap" rel="stylesheet');

nav{
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 135px;
}

header{
            width: 1920px;
        height: 125px;
        position: sticky;
        top: 0;
        z-index: 10;
        text-decoration: none;
}

.nav1{
    position: sticky;
    top: 0;
    background-color: #E30F25;
    width: 100%;
    height: 50px;
    display: flex;
    white-space: pre-line;
    text-align: center;
    justify-content:center;
    align-items: center;
    color: #ffffff;
    cursor: default;
    position: sticky;
    top: 0;
    text-decoration: none;
}

.nav{
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    gap: 69px;
    list-style: none;
    background-color: #ffffff;
    white-space: pre-line;
    text-align: center;
    justify-content:flex-start;
    width: 100%;
    box-shadow: inset 0 0px 8px rgba(0, 0, 0, 0.3);
    border: none; 
    border-top: 1px solid #000000;
    text-decoration: none;
    .links{
        position: relative;
        color: #000000;
        font-family: 'Nunito', sans-serif;
        font-size: 18px;
        font-weight: 100;
        bottom: 20px;
        text-decoration: none;
    }

    .deco{
        position: relative;
        color: #000000;
        font-family: 'Nunito', sans-serif;
        font-size: 18px;
        font-weight: 150;
        bottom: 20px;
        cursor: default;
        list-style: none;
    }

    .logo{
        position: relative;
        width: 125px;
        height: 125px;
        bottom: 20px;
        margin-left: 10px;
        margin-right: 20px;
        max-width: 100%; 
        box-sizing: content-box;
    }

    .logo2{
        position: relative;
        width: 50px;
        height: 50px;
        bottom: 20px;
        left: 69px;
        margin-left: 10px;
        margin-right: 20px;
        max-width: 100%; 
        box-sizing: content-box;
    }
    .custom-dropdown-toggle {
        position: relative;
        color: #000000;
        font-family: 'Orelega One', sans-serif;
        bottom: 20px;
        font-size: 18px;
        font-weight: 69px;
        .custom-dropdown-item{
            font-family: 'Orelega One', sans-serif;
        }        
    }

    .custom-dropdown-toggle::after {
        display: none;
    }
    

}

